n8n-workflow-bot-reservas.json
{
  "name": "Rovean Condo - Bot Reservas Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "rovean-condo-reservas",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://probankruptcy-therese-insightfully.ngrok-free.dev/api/v1/webhooks/telegram-identifica",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "telegramId",
              "value": "={{ $json.message.from.id.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Identificar Morador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-morador",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Morador Cadastrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Seu número não está cadastrado no sistema do Rovean Condo.\n\nEntre em contato com a administração para cadastrar seu Telegram.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Não Cadastrado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 520],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json.message.text || '';\nconst hoje = new Date().toISOString().split('T')[0];\n\nconst body = {\n  model: 'llama-3.3-70b-versatile',\n  messages: [\n    {\n      role: 'system',\n      content: `Você é um assistente do condomínio Rovean Condo. Analise a mensagem do morador e extraia os dados para uma reserva. Áreas disponíveis: Churrasqueira, Salão de Festas, Academia, Piscina. Hoje é ${hoje}. Responda APENAS com um JSON válido no formato exato: {\"area\": \"nome da área ou null\", \"data\": \"YYYY-MM-DD ou null\", \"horarioInicio\": \"HH:MM ou null\", \"horarioFim\": \"HH:MM ou null\", \"completo\": true ou false}. Se todos os 4 campos estiverem presentes e válidos, completo é true.`\n    },\n    {\n      role: 'user',\n      content: msg\n    }\n  ],\n  max_tokens: 200,\n  temperature: 0.1\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Preparar Request Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer COLE_SUA_GROQ_API_KEY_AQUI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Groq: Interpretar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.item.json.choices[0].message.content.trim();\nlet dados;\ntry {\n  const clean = content.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  dados = JSON.parse(clean);\n} catch (e) {\n  dados = { area: null, data: null, horarioInicio: null, horarioFim: null, completo: false };\n}\nreturn [{ json: dados }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Extrair Dados Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-completo",
              "leftValue": "={{ $json.completo }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Dados Completos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "📋 Para fazer uma reserva, preciso de todas as informações de uma vez:\n\n🏠 *Área:* Churrasqueira, Salão de Festas, Academia ou Piscina\n📅 *Data:* dia/mês/ano\n🕐 *Horário de início e fim*\n\nExemplo:\n_\"Quero reservar a Churrasqueira para 20/04 das 14h às 18h\"_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Pedir Informações",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1740, 520],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://probankruptcy-therese-insightfully.ngrok-free.dev/api/v1/webhooks/disponibilidade",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "area",
              "value": "={{ $('Extrair Dados Reserva').item.json.area }}"
            },
            {
              "name": "data",
              "value": "={{ $('Extrair Dados Reserva').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Verificar Disponibilidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst dados = $('Extrair Dados Reserva').item.json;\nconst ocupados = response.data || [];\n\nfunction toMin(t) {\n  const [h, m] = t.split(':').map(Number);\n  return h * 60 + m;\n}\n\nconst iNovo = toMin(dados.horarioInicio);\nconst fNovo = toMin(dados.horarioFim);\n\nlet conflito = false;\nfor (const r of ocupados) {\n  if (iNovo < toMin(r.fim) && fNovo > toMin(r.inicio)) {\n    conflito = true;\n    break;\n  }\n}\n\nreturn [{ json: { disponivel: !conflito } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Checar Conflito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-disponivel",
              "leftValue": "={{ $json.disponivel }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Disponível?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://probankruptcy-therese-insightfully.ngrok-free.dev/api/v1/webhooks/reserva-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "rovean_webhook_secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegramId: $('Telegram Trigger').item.json.message.from.id.toString(), area: $('Extrair Dados Reserva').item.json.area, data: $('Extrair Dados Reserva').item.json.data, horarioInicio: $('Extrair Dados Reserva').item.json.horarioInicio, horarioFim: $('Extrair Dados Reserva').item.json.horarioFim }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Criar Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ *Reserva Confirmada!*\n\nOlá, {{ $('Identificar Morador').item.json.data.nome }}!\n\nSua reserva foi registrada com sucesso.\n\n📍 Área: {{ $('Extrair Dados Reserva').item.json.area }}\n📅 Data: {{ new Date($('Extrair Dados Reserva').item.json.data + 'T12:00:00').toLocaleDateString('pt-BR') }}\n🕐 Horário: {{ $('Extrair Dados Reserva').item.json.horarioInicio }} às {{ $('Extrair Dados Reserva').item.json.horarioFim }}\n\nQualquer dúvida, entre em contato com a portaria. 🏢",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Reserva Confirmada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2620, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=❌ *Horário Indisponível*\n\nInfelizmente a *{{ $('Extrair Dados Reserva').item.json.area }}* já está reservada no dia {{ new Date($('Extrair Dados Reserva').item.json.data + 'T12:00:00').toLocaleDateString('pt-BR') }} nesse horário.\n\nTente outro horário ou outra data. 📅",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Horário Indisponível",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2400, 520],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Identificar Morador", "type": "main", "index": 0 }]]
    },
    "Identificar Morador": {
      "main": [[{ "node": "Morador Cadastrado?", "type": "main", "index": 0 }]]
    },
    "Morador Cadastrado?": {
      "main": [
        [{ "node": "Preparar Request Groq", "type": "main", "index": 0 }],
        [{ "node": "Não Cadastrado", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Request Groq": {
      "main": [[{ "node": "Groq: Interpretar Pedido", "type": "main", "index": 0 }]]
    },
    "Groq: Interpretar Pedido": {
      "main": [[{ "node": "Extrair Dados Reserva", "type": "main", "index": 0 }]]
    },
    "Extrair Dados Reserva": {
      "main": [[{ "node": "Dados Completos?", "type": "main", "index": 0 }]]
    },
    "Dados Completos?": {
      "main": [
        [{ "node": "Verificar Disponibilidade", "type": "main", "index": 0 }],
        [{ "node": "Pedir Informações", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Disponibilidade": {
      "main": [[{ "node": "Checar Conflito", "type": "main", "index": 0 }]]
    },
    "Checar Conflito": {
      "main": [[{ "node": "Disponível?", "type": "main", "index": 0 }]]
    },
    "Disponível?": {
      "main": [
        [{ "node": "Criar Reserva", "type": "main", "index": 0 }],
        [{ "node": "Horário Indisponível", "type": "main", "index": 0 }]
      ]
    },
    "Criar Reserva": {
      "main": [[{ "node": "Reserva Confirmada", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "rovean-condo-bot-reservas"
}
