n8n-workflow-bot-reservas.json
{
  "name": "Rovean Condo - Bot Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "node-01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rovean-condo-bot",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $input.item.json;\n\nlet chatId, texto, callbackData, callbackQueryId;\n\n// callback_query (clique em botão)\nif (update.callback_query) {\n  const cq = update.callback_query;\n  chatId = String(cq.from?.id ?? cq.message?.chat?.id);\n  callbackData = cq.data;\n  callbackQueryId = String(cq.id);\n}\n// n8n às vezes desempacota o callback_query diretamente\nelse if (update.data && (update.from || update.message)) {\n  chatId = String(update.from?.id ?? update.message?.chat?.id);\n  callbackData = update.data;\n  callbackQueryId = String(update.id);\n}\n// message normal\nelse if (update.message?.text) {\n  chatId = String(update.message.from?.id ?? update.message.chat?.id);\n  texto = update.message.text;\n}\n// n8n desempacota message diretamente\nelse if (update.text && update.from) {\n  chatId = String(update.from.id);\n  texto = update.text;\n}\nelse {\n  return [];\n}\n\nif (!chatId || chatId === 'undefined') return [];\n\nreturn [{ json: { chatId, texto, callbackData, callbackQueryId } }];"
      },
      "id": "node-02",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/api/v1/telegram/update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-03",
      "name": "Enviar para Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Extrair Dados", "type": "main", "index": 0 }]]
    },
    "Extrair Dados": {
      "main": [[{ "node": "Enviar para Backend", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "rovean-condo-bot-v2"
}
