n8n-workflow-bot-reservas.json
{
  "name": "Rovean Condo - Bot Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "node-01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rovean-condo-bot",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Rovean Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $input.item.json;\n\nlet chatId, texto, callbackData, callbackQueryId;\n\nif (update.callback_query) {\n  chatId = update.callback_query.from.id.toString();\n  callbackData = update.callback_query.data;\n  callbackQueryId = update.callback_query.id;\n} else if (update.message && update.message.text) {\n  chatId = update.message.from.id.toString();\n  texto = update.message.text;\n} else {\n  // Ignora updates sem texto (fotos, stickers, etc)\n  return [];\n}\n\nreturn [{ json: { chatId, texto, callbackData, callbackQueryId } }];"
      },
      "id": "node-02",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/api/v1/telegram/update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-03",
      "name": "Enviar para Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Extrair Dados", "type": "main", "index": 0 }]]
    },
    "Extrair Dados": {
      "main": [[{ "node": "Enviar para Backend", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "rovean-condo-bot-v2"
}
